body,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#fullPlayground {
	margin-top: 50px;
	text-align: center;
	align-content: center;
	display: flex;
	justify-content: center;
	color: #FFFFFF;
	flex-wrap: wrap;
}
#info {
	display: block;
	flex: 100%;
	justify-content: center;
}
#playground {
	display: flex;
	flex: 100%;
	justify-content: center;
}
@media (min-width: 992px) {
  #info, #playground {
    flex: 50%;
  }
}
#airport, 
.sampleAirport{
  background-color: #929be890;
  border: 1px solid #452400 !important;
  margin: 2px;
	border-collapse: collapse;
	border-spacing: 0;
}
.transparentSampleAirport {
  margin: 2px;
	border-collapse: collapse;
	border-spacing: 0;
}
.w3-button {
  border: 1px solid black;
}
.airportGate {
  border: 1px solid black !important;
  padding: 2px 2px !important;
  text-align: center !important;
  vertical-align: middle !important;
}
.planeHead {
  background-color: red !important;
}
.planeBody {
  background-color: #946640 !important;
}
.emptyCell {
  background-color: white !important;
}
.transparentCell {
	background-color: #ffffff !important;
  border: 0px !important;
  opacity: 0 !important;
}
