body,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#fullPlayground {
  margin-top: 50px;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
  flex-wrap: wrap;
}

#info {
  display: block;
  flex: 100%;
  justify-content: center;
}

#infoSamplePlane {
  margin-top: 10px;
  margin-bottom: 10px;
}

#playground {
  margin-top: 10px;
  display: flex;
  flex: 100%;
  justify-content: center;
}

@media (min-width: 992px) {
  #info,
  #playground {
    flex: 50%;
  }
}

.settingDialogGraphicTable {
  max-height: 90px !important;
}

.settingDialogDisplay .airportGate {
  height: 16px !important;
}

#airport,
.sampleAirport {
  background-color: #929be890;
  border: 1px solid #452400 !important;
  margin: 2px;
  border-collapse: collapse;
  border-spacing: 0;
}

.transparentSampleAirport {
  margin: 2px;
  border-collapse: collapse;
  border-spacing: 0;
}

.w3-button {
  border: 1px solid black;
}

.airportGate {
  border: 1px solid black !important;
  padding: 2px 2px !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.planeHead {
  background-color: red !important;
}

.planeBody {
  background-color: #946640 !important;
}

.planeBody_1 {
  background-color: #ef6c00 !important;
}
.planeBody_2 {
  background-color: #ffff00 !important;
}
.planeBody_3 {
  background-color: #76ff03 !important;
}
.planeBody_4 {
  background-color: #2e7d32 !important;
}
.planeBody_5 {
  background-color: #00796b !important;
}
.planeBody_6 {
  background-color: #263238 !important;
}
.planeBody_7 {
  background-color: #0091ea !important;
}
.planeBody_8 {
  background-color: #1a237e !important;
}
.planeBody_9 {
  background-color: #512da8 !important;
}
.planeBody_10 {
  background-color: #4e342e !important;
}

.emptyCell {
  background-color: white !important;
}

.transparentCell {
  background-color: #ffffff !important;
  border: 0px !important;
  opacity: 0 !important;
}

.result {
  margin-top: 5px;
  margin-bottom: 5px;
}

.showGameStepCount,
.showGameRemainHead {
  font-weight: bold;
  text-decoration: underline;
}

.instructionTab {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex: 0 0 100%; */
  /* flex-grow, flex-shrink, flex-basis */
}

.instructionTitle {
  margin-top: 8px;
  font-weight: bold;
  text-decoration: underline;
  flex-basis: 100%;
}

.instructionContent {
  flex: 50%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.instructionAirport {
  margin: 4px 14px 4px 14px;
}
